<ion-view view-title="{{home}}">
    <ion-content ng-controller="videoController">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <style>
            h1{
                font-family: 'Lobster', cursive;
                text-align:center;
            }
        </style>

        <h1>Engraver</h1>

        <div class="item item-body">
            <img class="full-image" src="img/video.png">
        </div>

        <button type="button" ng-click="captureVideo()" class="button button-block button button-dark button icon-left ion-bookmark" id="record">
            Criar Vídeo
        </button>
        <a href="#/menu/video" class="button button-block button button-dark button icon-left ion-bookmark">
            Ver Coleção
        </a>
    </ion-content>
</ion-view>